//colores de nuestro tema
$COLOR-PRIMARIO: #621132;
$COLOR-PRIMARIO_: #9D2449;
$COLOR-SECUNDARIO: #B38E5D;
$COLOR-SECUNDARIO_: #D4C19C;
$COLOR-BLANCO: #FFF;
$COLOR-TERCIARIO: #4E232E;
$COLOR-TERCIARIO_: #65242A;
//
*{
  font-family: "Montserrat";
  font-size: 14px;
  box-sizing: border-box;
}
body{
  background: whitesmoke;
}
.bg-primario{background: $COLOR-PRIMARIO;color:$COLOR-BLANCO}
.bg-primario-hover{
  &:hover{
    background: $COLOR-SECUNDARIO;color:$COLOR-BLANCO
  }
}
.form-control-lg {
  font-size: 14px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.generales{
  border: 3px $COLOR-SECUNDARIO solid;
  border-radius: 8px;
  border-spacing: 3px 3px;
  caption-side: bottom;
  border-collapse: inherit;
  width: 100%;
  >:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    border-bottom-width: 1px;
}
}
.col1{
  border: 1px $COLOR-SECUNDARIO solid;
  border-radius: 4px;
  background: $COLOR-SECUNDARIO_;
  padding: 0.5rem 0.5rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: $COLOR-PRIMARIO;
}
.col2{
  background: $COLOR-BLANCO;
  color: $COLOR-PRIMARIO;
}
.navbar-light .navbar-nav .nav-link {
  color: $COLOR-PRIMARIO;
}
.caja{
  background: $COLOR-BLANCO;
  border-radius: 7px;
  padding: 8px;
  // margin: 10px;
  box-shadow: 0 0 4px 1px rgba(2,2,2,0.1);
}
.search{
  top:6px;
  left:10px;
}

.color-rojo{
  color: $COLOR-PRIMARIO_;
}
.hover-color-rojo{
  &:hover{
    color: $COLOR-PRIMARIO;
  }
}
.subtitulo {
  font-size: 8px;
  font-weight: normal; }

.small {
  font-size: small; }
.bold{
   font-weight: bold;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
    color:$COLOR-PRIMARIO;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.activo{
  background: #4dad80;
  color: $COLOR-BLANCO;
  border-radius: 25px;
  text-align: center;
  padding: 3px;
  font-size: 11px;
}
.baja{
  background: #e74949;
  color: $COLOR-BLANCO;
  border-radius: 25px;
  text-align: center;
  padding: 3px;
  font-size: 11px;
}
